
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    background-color:black;
    width: 100%;
   

    z-index: 999;
    display: flex;

    align-items: center;
    padding: 10px 200px;
}
.logo {
    text-decoration: none;
    color:aliceblue;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 1.8em;
}
.logo span{
    background-color: #f9004d;
	color:aliceblue;
	border-radius: 6px;
}
/* services */

.services {
    padding: 0 10%;
}
.title {
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: aliceblue;
}
.sub-title {
    text-align: center;
    color:aliceblue;
    margin: 20px 0;
}
.list-services {
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.list-services .box {
    padding: 30px;
    background-color: gray;
    border-radius: 6px;
    transition: 0.5s;
}
.list-services .box h1 {
    text-transform: uppercase;
    color:aliceblue;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}
.list-services .box p {
    font-size: 16px;
}
.list-services .box:hover{
    background-color:  #f9004d;
} 
.list-services .box:hover h1 {
    color: #fff;
}
.list-services .box:hover p {
    color:aliceblue;
}
.hala{
    background-image: url(doctourimages/photo_2023-01-03_17-59-03.jpg);
    background-attachment: fixed;
}

/*Our Goal*/
.our-goal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
    background-color:aliceblue;
    height: 50vh;
}
.our-goal .left {
    width: 45%;
}
.our-goal .right {
    width: 45%;
}
.our-goal .left span {
    font-weight: bold;
    color:gray;
    text-transform: uppercase;
}
.our-goal .left h1 {
    font-size: 35px;
    padding: 15px 0;
    margin-bottom: 15px;
}
.our-goal .left a {
    background-color: #f9004d;
    color: #fff;
    text-decoration: 0;
    padding: 10px 25px;
    text-transform: uppercase;
}
.our-goal .right p {
    letter-spacing: 1px;
}
.footer{
    background-color: black;
    padding: 2em;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
